    @font-face {
        font-family: 'DQ-Font';
        src: url('fonts/DQ-Font.ttf') format('truetype');
    }

    :root {
        font-family: 'DQ-Font', sans-serif;
        color: white;
    }

    body {
        background-color: rgb(27, 27, 27);

        margin: 0.3em;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .stats {
        width: 14.375em;
        margin-right: 1.25em;
        text-align: left;
    }

    .stats p {
        font-size: 1.0em;
        margin: 0.625em 0;
    }

    .game-container {
        text-align: center;

    }

    .image-container {
        position: relative;
        display: inline-block;
        width: 16.75em;
        height: 16.75em;
    }

    .background-image,
    .Monster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.625em;
    }

    .background-image {
        z-index: 1;
        /* Imagen de fondo */
    }

    .Monster {
        z-index: 2;
        /* Imagen en la parte superior */
        cursor: pointer;
        transition: transform 0.2s;
    }

    .Monster:hover {
        transform: scale(1.05);
    }

    .life-bar-container {
        width: 18.75em;
        height: 1.25em;
        background-color: #ddd;
        border-radius: 0.625em;
        margin: 1.25em auto;
        overflow: hidden;
    }

    .life-bar {
        width: 100%;
        height: 100%;
        background-color: #4caf50;
        transition: width 0.2s;
    }

    .life-bar-hero {
        width: 100%;
        height: 100%;
        background-color: #e06161;
        transition: width 0.2s;
    }    

    .upperText {
        font-size: 1.5em;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }

    .shop {
        width: 9.375em;
        margin-left: 1.25em;
        text-align: center;
        gap: 0.625em; /* Espaciado entre los botones */
    }

    .spells {
        width: 9.375em;
        margin-left: 1.25em;
        text-align: center;
        justify-content: center; /* Centra los botones horizontalmente */
        align-items: center; /* Centra los botones verticalmente */
        display: flex;
        gap: 0.625em; /* Espaciado entre los botones */
        margin-top: 1.25em; /* Espaciado respecto a las barras de vida */
    }

    .spells button {
        padding: 0.4rem 0.5rem;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 0.3125em;
        cursor: pointer;
        transition: background-color 0.3s;
        padding: 0.625em 1.25em;
        font-size: 0.875em;
  

    }

    .zoom{
        width: 11rem;
    }

    .spells button:disabled {
        background-color: #aaa;
        cursor: not-allowed;
    }

    .shop button {
        font-size: 1.0em;
        padding: 0.625em 1.25em;
        border: none;
        background-color: #007bff;
        color: white;
        margin-top: 1em;
        margin-right: 2em;
        border-radius: 0.3125em;
        cursor: pointer;
        transition: background-color 0.3s;
    }


    .shop button:disabled {
        background-color: #aaa;
        cursor: not-allowed;
    }

    .shop button:hover:not(:disabled) {
        background-color: #0056b3;
    }

    .life-bar-text {
        position: absolute;
        width: 100%;
        text-align: center;

        font-size: 0.75em;

        color: #333;
        z-index: 2;
    }

    @keyframes shakeAndColor {
        0% { transform: translate(0, 0) rotate(0deg); color: #ff0000; }
        25% { transform: translate(-5px, 5px) rotate(-5deg); color: #00ff00; }
        50% { transform: translate(5px, -5px) rotate(5deg); color: #0000ff; }
        75% { transform: translate(-5px, -5px) rotate(-5deg); color: #ffff00; }
        100% { transform: translate(0, 0) rotate(0deg); color: #ff00ff; }
    }

    .animated {
        animation: shakeAndColor 1s ease 3;
    }